.font-size-18 {
    font-size: 18px;
}

.font-size-26 {
    font-size: 26px;
}

.font-size-20 {
    font-size: 20px;
}

.btn {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid;
    border-color: #89bcd9;
    background-color: transparent;
    color: #89bcd9;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Josefin', sans-serif;
}

.btn:hover {
    background-color: #3f454a;
}

.btn-live {
    font-family: 'Josefin', sans-serif;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid;
    background-color: #89bcd9;
    border-color: #89bcd9;
    color: #262e34;
    padding: 10px 20px;
    font-size: 18px;
}

.width-100 {
    width: 100%;
}

.btn-live:hover {
    background-color: #F8F5EC;
    border-color: #F8F5EC;
}

.wrapper-footer {
    background-color: #89BCD9;
    margin-top: 150px;
}

.content-wrapper-footer {
    max-width: 1440px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-social-media-footer {
    display: flex;
    gap: 40px;
}

.footer-legal{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.footer-legal a, .footer-legal p{
    color: #262E34;
}

.footer-legal a:hover{
    color: #F8F5EC;
}

.wrapper-logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1px;
}

.wrapper-logo-footer span{
    color: #262E34;
    margin: 0;
}

.wrapper-logo-footer p{
    margin: 0;
}

.mrg-tp-section{
    margin-top: 70px;
}

section {
  scroll-margin-top: 80px;
}
