.font-size-18 {
    font-size: 18px;
}

.btn {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid;
    border-color: #89bcd9;
    background-color: transparent;
    color: #ffffff;
    color: #89bcd9;
    padding: 10px 20px;
}

.btn:hover {
    background-color: #3f454a;
}