.content-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.content-headlines {
    font-size: 60px;
    color: #89BCD9;
    font-family: 'Anta', sans-serif;
}

.sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-section-body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
}

.info-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-about-left {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.content-about-right {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    align-items: end;
}

.location-image {
    height: 60px;
    width: 74px;
}

.info-location {
    font-size: 30px;
}

.color-writing-blue {
    color: #89BCD9;
}

.text-about-me {
    line-height: 120%;
}

.content-skills-left {
    display: flex;
    width: 50%;
    gap: 20px;
    flex-wrap: wrap;
}

.content-skills-right {
    position: relative;
    width:  clamp(280px, 90vw, 480px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    text-align: center;
    overflow: hidden;
   
}

.content-skills-right::before,
.content-skills-right::after {
    content: '';
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transition: opacity 0.4s ease;
}

.content-skills-right::before {
    background-image: url('/assets/icons/currently/currently.svg');
    opacity: 1;
}

.content-skills-right::after {
    background-image: url('/assets/icons/currently/currentlyHover.svg');
    opacity: 0;
}

.content-skills-right:hover::before {
    opacity: 0;
}

.content-skills-right:hover::after {
    opacity: 1;
}