.wrapper-hero-section {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.wrapper-navbar {
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    background-color: #89BCD9;
    position: sticky;
    top: 0;
}

h1 {
    text-wrap-mode: nowrap;
    font-size: 88px;
    font-family: 'Anta', sans-serif;
    font-weight: 400;
    margin: 36px 0;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding: 40px 30px 0 30px;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    max-height: 1440px;
    height: 100vh;
    box-sizing: border-box;
}

.info-hero-section {
    margin: 100px 0 0 auto;
    padding-left: 24px;
}

.info-hero-section p {
    font-size: 40px;
    margin: 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 16px;
    width: 30px;
}

.social-media a {
    position: relative;
    width: 30px;
    height: 30px;
}

.social-media-wrapper {
    display: flex;
    flex-direction: row;
}

.social-media-default,
.social-media-hover {
    position: absolute;
    transition: opacity 0.3s;
    right: 0;
}

.social-media-default {
    opacity: 1;
}

.social-media-hover {
    position: absolute;
    opacity: 0;
}

.social-media a:hover .social-media-default {
    opacity: 0;
}

.social-media a:hover .social-media-hover {
    opacity: 1;
}


.title {
    width: 570px;
}

.title p {
    letter-spacing: 2px;
}

.wrapper-arrow-down {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    margin-right: 50px;
}

.wrapper-arrow-down a {
    cursor: pointer;
}

.swap-image {
    position: relative;
}

.pos-rel {
    position: relative;
}

.image-default,
.image-hover {
    position: absolute;
    inset: 0;
    transition: opacity 0.3s;
}

.image-hover {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.swap-image:hover .image-default {
    opacity: 0;
}

.swap-image:hover .image-hover {
    opacity: 1;
}

.main-image-container .main-image-container {
    width: 100%;
    max-width: 535px;
    position: relative;
    margin: 22px 25px 0 25px;
}

.main-image-container img,
.menu_container_impressum img {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.main-image-default,
.main-image-hover {
    transition: opacity 0.5s;
    transform: translate(-50%, -15%) rotate(-50deg);
    height: 80%;
}

.main-image-hover {
    opacity: 0;
}

.main-image-container:hover .main-image-default {
    opacity: 0;
}

.main-image-container:hover .main-image-hover {
    opacity: 1;
}

.profil-img {
    height: 110%;
    object-fit: cover;
    transform: translate(-50%, 0);
}

.logo-hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 1px;
}

.logo-hero-icon {
    position: relative;
    height: 38px;
    min-width: 70px;
    display: flex;
    justify-content: center;
}

.logo-hero .name {
    font-size: 16px;
    margin: 4px 0 0 0;
    color: #F8F5EC;
}

.logo-hero p {
    font-size: 16px;
    margin: 0;
    color: #89BCD9;
}

.logo-default,
.logo-hover {
    position: absolute;
    transition: opacity 1s;
}

.logo-default {
    opacity: 1;
}

.logo-hover {
    position: absolute;
    opacity: 0;
}

.logo-hero-icon:hover .logo-default {
    opacity: 0;
}

.logo-hero-icon:hover .logo-hover {
    opacity: 1;
}

.title {
    width: 100%;
}

.title p {
    letter-spacing: 2px;
    text-wrap-mode: nowrap;
}

.main-image-container {
    width: 100%;
    max-width: 535px;
    position: relative;
    margin: 22px 25px 0 25px;
}

.main-image-container img {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.img-background-default,
.img-background-hover {
    transition: opacity 1s ease;
    transform: translate(-50%, -15%) rotate(-45deg);
    height: 80%;
}

.img-background-hover {
    opacity: 0;
}

.main-image-container:hover .img-background-default {
    opacity: 0;
}

.main-image-container:hover .img-background-hover {
    opacity: 1;
}

nav {
    display: flex;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

.navbar-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 110px;
}

.navbar-logo p {
    color: #262E34;
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    z-index: 1;
}

.navbar-menu a {
    color: #262E34;
    padding: 39px 0 34px 0;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-menu a:hover {
    color: #e7e7e7;
}

.navbar-language {
    display: flex;
    gap: 35px;
    padding: 20px 110px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.navbar-language p {
    cursor: default;
    font-size: 18px;
    background-image: url(../assets/icons/languages/languageBackground.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 8px 8px 4px 6px;

}

.navbar-language span {
    color: #262E34;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    padding: 8px 8px 4px 6px;
}

.navbar-language span:hover {
    color: #F8F5EC;
     cursor: pointer;
}

.nav-menu-container {
    position: relative;
    bottom: 0;
    aspect-ratio: 1 / 1;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.6s ease;
}

.resp-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.resp-menu-content a {
    font-size: 22px;
    color: #262E34;
    font-family: 'Josefin', Arial, sans-serif;
}

.resp-menu-content a:hover {
    color: #F8F5EC;
}