.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1250px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px 20px 100px 20px;
    height: auto;
    min-height: 100vh;
}

.imprint-container {
    line-height: 120%;
}

.imprint-container a {
    color: #F8F5EC;
}

.imprint-container a:hover {
    color: #89BCD9;
}

.imprint-container span {
    color: #89BCD9;
}

.imprint-container p {
    margin: 0;
}

.font-size-19 {
    font-size: 19px;
}

.section-title {
    font-size: 19px;
    color: #89BCD9;
}

.btn-legal {
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid;
    border-color: #89bcd9;
    background-color: transparent;
    color: #89bcd9;
    padding: 2px 20px;
    font-size: 18px;
    font-family: 'Josefin', sans-serif;
    height: 35px;
}

.btn-legal:hover {
    background-color: #3f454a;
}

.navbar-language a {
    color: #262E34;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s;
    padding: 8px 8px 4px 6px;
}

.navbar-language a:hover {
    color: #F8F5EC;
     cursor: pointer;
}