@media (max-width: 1450px) {
    .content-section-body {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    .write-me-btn {
        display: none;
    }

    .write-me-btn-resp {
        display: flex;
        margin-top: 35px;
    }

    .content-skills-right {
        display: none;
    }

    .content-skills-resp {
        display: flex;
        padding: 0 20px;
    }

    .content-about-right {
        text-align: center;
    }

    .new-skill p {
        margin-top: 10px;
    }
}

@media (max-width: 1350px) {
    .title h1 {
        font-size: clamp(3rem, 2.2233rem + 3.8835vw, 5.5rem);
    }

    .title p {
        font-size: 24px;
    }
}

@media (max-width: 1150px) {
    .main-image-default {
        height: 80%;
        transform: translate(-50%, -16%) rotate(0deg);
    }

    .main-image-container:hover .main-image-default {
        opacity: 1;
    }

    .main-image-container:hover .main-image-hover {
        opacity: 0;
    }

    .profil-img {
        height: 70%;
        transform: translate(-50%, -35%);
    }


}

@media (max-width: 750px) {

    .wrapper-navbar,
    .head-container {
        display: none
    }

    .wrapper-logo-header {
        flex: 0;
    }

    .panel.active {
        grid-template-columns: 1fr;
    }

    .tech-row,
    .btn-row {
        justify-content: flex-start;
    }

    /* *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    } */

    .hero {
        flex-direction: column;
    }

    .header-resp {
        display: flex;
        justify-content: space-between;
    }


}