html {
    scroll-behavior: smooth;
}

body {
    background-color: #262E34;
    font-family: 'Josefin', sans-serif;
    color: #F8F5EC;
    margin: 0;
}

a {
    text-decoration: none;
}

.d-none {
    display: none;
}